.first{ 
    color: rgb(92, 34, 66);
    font-size: large;
    text-decoration: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}
.card-content {
    width: 300px;
    border: 1px solid #e6c1c1;
    box-shadow: 0 2px 4px rgba(214, 128, 178, 0.548);
    margin: 30px;
    overflow: hidden;
    height: 300px;
    position: relative;
    border-radius: 10px;
  

}
/*.card-content:hover {
background-image: url('./R.jpg');
background-size: cover;
opacity: 0.8;

}*/
.container-pic {
transition: 1s;
position: absolute;
z-index: 0;
width: 100%;
height: 100%;
filter: brightness(50%);
}
.container-pic:hover {
 scale: 1.5;
filter: brightness(100%);
position: absolute;
z-index: 1;
    
    }
.Card-container {
    display: flex;
  
}
.My-text {
    font-size: 20px ;
    font-weight: initial ;
    padding: 10px 0 0 15px ;
    position: fixed;
    bottom: 50%;
    color: white;
    transition: 1s;
  
}
.Geysir-text{
    padding: 10px 0 0 100px ;
    position: absolute;
    color: white;
    transition: 1s;
}

.Button-style  {
 position: absolute;
 bottom: 0;
 padding: 10px;
 right: 40%;
 margin-bottom: 10px;
 background-color:white;
 border: none;
 border-radius: 5px;
 

}
.Button-style:hover { background-color: rgb(146, 167, 167);
}